
 body {
      margin: 0;
      height: 100vh;                 /* full viewport height */
      display: flex;                 /* make body a flex container */
       justify-content: left;  
       align-items: center;      /* center vertically */
      background-color: #297045;
      flex-direction: row;
    }

#main{
  flex-direction: row;
}
.game{
    height: 150px;
    width: 150px;
    border-radius: 10px;
     font-size:  150px;
     background-color: #2E933C;
     text-decoration: #ECBA82;
     color:#ECBA82;
}
#div{
    
  gap: 10px;
    display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  flex-wrap: wrap;

  width: 500px;
  height:480px;
}
#win{
  display: none;
  
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  
  font-size: 50px ;
  height:150px;
  text-align: center;
  color:#ECBA82;

}
.reset{
  background-color: #81C14B;
  color:#ECBA82;
  height: 70px;
  WIDTH: 120px;
  font-size: 30px;
}
.score{
  display: flex;
  flex-direction: column;
  color:#ECBA82;
  height :400px;
  gap: 50px;
  font-size: 50px;
  width:400px;
  text-align: left;
  
  margin-right: 10px;
  margin-left: 40px;

}
#O{
  width:40px;
  height: 40px;
}
#X{
  width:40px;
  height: 40px;
}
.newgame{
  background-color: #81C14B;
  color:#ECBA82;
  height: 70px;
  WIDTH: 190px;
  font-size: 30px;
}
.mode{
  display: flex;
   flex-direction:column;
   height: 200px;
   margin-left: 30px;
}
#modep{
background-color: #c1574b;
  color:#ECBA82;
  height: 70px;
  WIDTH: 150px;
  font-size: 25px;
  margin-bottom:20px ;
  border-radius: 50%;
}
#modecom{
  background-color: #81C14B;
  color:#ECBA82;
  height: 70px;
  WIDTH: 150px;
  font-size: 25px;
  border-radius: 50%;
}